body{
    background-color: #F5F4EF;
}
.text-p{
    color: #1E1E1E;
}
.navbar .navbar-nav .nav-item a{
    padding: 15px;
}
.navbar .navbar-nav .nav-but{
    padding: 10px
}
.width-nav{
    width: 200px;
    background: red;
}
.sign-in{
    background: #F0773E;
    border-radius: 30px;
    width: 108px;
    height: 40px;
    font-size: 16px;
    color: white;
}
.donating{
    border: 1px solid #F0773E;
    border-radius: 30px;
    color: #F0773E;
    font-size: 16px;
    width: 174px;
    height: 40px;
}
.text-orange{
    color: #F0773E;
}
.text-category{
    margin-top: 80px;
}
@media screen and (max-width: 768px) {
    .text-category{
        margin-top: 20px;
    }
    .width-nav{
        width: 200px;
        background: #1da1f2;
    }
    .width-nav-burger{
        width: 200px;
        background: #1da1f2;
        margin-left: auto;
        margin-right: auto;
    }


}
.border1 {
    border: 1.5px solid #F0773E;
    border-radius: 30px;
    height: 50px;
    width: 99px;
    font-size: 18px;
    color: #F0773E;
    background: white;
}
.border2 {
    border: 1.5px solid #F03C60;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    width: 156px;
    color: #F03C60;
    background: white;
}
.border3 {
    border: 1.5px solid #459CF2;
    border-radius: 30px;
    height: 50px;
    width: 247px;
    font-size: 18px;
    color: #459CF2;
    background: white;
}
.border4 {
    border: 1.5px solid #91CD55;
    border-radius: 30px;
    height: 50px;
    width: 156px;
    font-size: 18px;
    color: #91CD55;
    background: white;
}
.border5 {
    border: 1.5px solid #F1BD36;
    border-radius: 30px;
    height: 50px;
    width: 275px;
    font-size: 18px;
    color: #F1BD36;
    background: white;
}
.border6 {
    border: 1.5px solid #5F49FC;
    border-radius: 30px;
    height: 50px;
    width: 126px;
    font-size: 18px;
    color: #5F49FC;
    background: white;
}
.card-category{
    border-radius: 30px;
    border: none;
}
.card-category p{
    font-size: 14px;
}
.card-category h5{
    font-size: 20px;
}
.card-button2{
    width: 100%;
    border: 2px solid #F03C60;
    border-radius: 30px;
    height: 40px;
    font-size: 16px;
    color: #F03C60;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.card-body{
    padding: 1.5rem 1.5rem;
}
.card-h5-1{
    color: #F0773EFF
}
.card-h5-2{
    color: #F03C60
}
.card-h5-3{
    color:#459CF2;
}
.card-h5-4{
    color:#91CD55
}
.card-h5-5{
    color: #F1BD36;
}
.card-h5-6{
    color:#5F49FC;
}